<html>
<head>
<script>
  function onclick(){
    document.forms[0].submit()
  }
</script>
</head>
<body>
This is my NY Jets fan page

<!-- GET POST PUT DELETE --> 

<form action="/newestjets" method="POST" id="myform">
<!-- https://www.w3schools.com/html/html_forms.asp -->
<p>What is your email so you can be on the NY Jets fan list for the latest news and updates? <input type="text" name="email" placeholder="youname@email.com"></p> 
<input type="submit" name="submit" value="GO">
</form>

<a onclick="onclick()">About</a>
<div style="background:#0ff" onclick="onclick()">Based on 2021 NY Jets Draft Class beig done in Figma</div>

</body>

</html>
