<html>

<script>
  function onclick(){
    alert("hi");
  //  $("#myform").submit();
  }
</script>

<body>
<h1>Please welcome Zach Wilson QB from Brigham Young, Alijah Vera-Tucker  OL from USC, Elijah Moore WR from Ole Miss, Michael Carter RB from North Carolina, Jamien Sherwood DB from Auburn, Michael Carter S from Duke, Jason Pinnock CB from Pittsburgh, Hamsah Nasirildeen DB from Florida State,  Brandin Echols CB from Kentucky, Jonathan Marshall DL from Arkansas.</h1>

<p>{{ email }}</p>

<p>{{ something }}</p>

</body>

</html>


